.home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 660px;
    text-align: center;
}
.contentLinks{
    margin-top: 16px;
}
.antBtnLink{
    height: 68px;
}

.btnAdd {
    position: fixed;
    right: 20px;
    top: 20px;
}